
/* slider_image-div */

/* *{
    background-color: rgb(43, 41, 41);
} */
.slider_image-div{
    width: 100%;
    height: 88vh;

 
    /* background-color: #d1bdbd; */
   
  }
  .carousel-item img{
    width: 100%;
    height: 80vh;
  

  }

  
  /* card-container */
  .card-container{
    width: 100%;
    height: 60vh;
    /* background-color: #b68585; */
  }



  /* .......card-container */

  .card_image-div {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden; /* Ensures the image stays within the container */
    transition: border-color 0.3s ease-in-out; /* Smooth border transition */
    cursor: pointer;
}


.card_image-div img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out; /* Smooth zoom effect */
}

.card_image-div:hover img {
    transform: scale(1.05); /* Slight zoom on hover */
}


/* Our_Products */

.Our_Products{
    width: 100%;
    height: 100px;
    font-weight: bold;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.Our_Products h3{
    font-size: 40px;
    font-weight: 600;
    
}

.slider-container{
    width: 93%;
    margin: auto;
    height: auto;
    /* background-color: yellowgreen; */

}

.slider_cardimg-div{
    width: auto;
    height: auto;
    /* background-color: violet; */
}
.slider_cardimg-div img{
    width:  90%;
    border: 1px solid rgb(179, 179, 179);
    margin: auto;
    cursor: pointer;
}

.slider_cardimg-div div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.slider_cardimg-div button{
    width: 90%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 1px;
    color: white;
   position: relative;
   bottom: 1px;
   font-size: 14px;
   font-weight: 400;
    background-color:  rgb(41, 107, 71);
    
}
.slick-prev:before {
    font-size: 33px;
    line-height: 1;
    opacity: 83.75;
    color: #000000;
    position: relative;
    left: -05px;
    border-radius: 10px;
  }
  
  .slick-next::before{ 
    font-size: 33px;
    line-height: 1;
    opacity: 83.75;
    color: #000000;
    position: relative;
    left: -10px;
}

/* Testimonial_container */

.Testimonial_container{
  width: 100%;
  height: auto;
  /* background-color: yellowgreen; */
  display: flex;
  margin-top: 40px;
}
.md_container{
  width: 95%;
  margin: auto;
  
}
.Impex_Forbes-div{
  height: auto;
  width: 100%;
  /* background-color: rgb(53, 87, 117); */
 
  
}
.Impex_Forbes-div h2{
  height: 15vh;
  background-color:  rgb(41, 107, 71);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gupata_container{
  width: auto;
  height: 100%;
  /* background-color: rgb(132, 142, 150); */
  /* margin-left: 14px; */

}
.gupata_container img{
  width: 100%;
}



.Testimonial_div h2{
  width: 100%;
  height: 15vh;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;

}


.text_slider{
  width: 85%;
  height:auto;
  margin: auto;
  /* background-color: #000000; */

}
.text_slider p{
  font-size: 14px;
  text-align: center;
  color: rgb(43, 43, 43);
}
.text_slider h5{
  text-align: center;
}
.text_slider h6{
  font-size: 13px;
  text-align: center;
  color:  rgb(41, 107, 71);
}


.About_Company-container{
  width: 100%;
  height: auto;
 background-color: rgb(119, 119, 119);
 margin-top: 30px;
 background-image: url('../media/header.jpg'); /* Replace with your image path */
 background-size: cover; /* Ensures the image covers the entire area */
 background-repeat: no-repeat; /* Prevents tiling of the image */
 background-attachment: fixed; /* Keeps the image fixed during scrolling */
 background-position: center center; /* Centers the image */

}


.About_Company-container h3{
  text-align: center;
}

.about{
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(39, 39, 39);
  /* background-color: rgb(75, 80, 150); */
}

.About_Company-container p{
  font-size: 13px;
  width: 80%;
  margin: auto;
  height: 20vh;
text-align: center;
color: rgb(56, 56, 56);
 /* background-color: rgb(75, 80, 150); */
}


.Business-Manufacturer{
  width: 100%;
  height: 14vh;
  background-color: rgb(255, 255, 255);
  color: rgb(61, 61, 61);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.Business-Manufacturer img{
width: 38px;
margin-left: 10px;
/* padding: 5px; */
/* background-color: #000000; */
}
.Business-Manufacturer p{
  height: 20px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0;
  padding: 0;
  color: #000000;
/* background-color: #000000; */
  }
  .Manufacturer_2div{
    height: auto;
    /* margin-top: 25px; */
    /* background-color: #2d722f; */
  }
  .Business-Manufacturer_2{
    width: 100%;
    height: 14vh;
    background-color: rgb(255, 255, 255);
    color: rgb(61, 61, 61);
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .Business-Manufacturer_2 img{
    width: 38px;
    margin-left: 10px;
    /* padding: 5px; */
    /* background-color: #000000; */
    }
    .Business-Manufacturer_2 p{
      height: 20px;
      display: flex;
      /* justify-content: center; */
      /* align-items: center; */
      margin: 0;
      padding: 0;
      color: #000000;
    /* background-color: #000000; */
      }
  .white_div{
    width: 100%;
    height: 50px;
    background-color: white;
    margin-top: 50px;
  }

  /* You_Looking-container */

  .You_Looking-container h3{
width: 100%;
height: 25vh;
color: rgb(29, 29, 29);
display: flex;
justify-content: center;
align-items: center;
/* background-color: rgb(100, 100, 100); */
  }

  .Looking_form-div{
    height: auto;
    /* background-color: aquamarine; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    font-size: 13px;
  }
  .Looking_form-div input{
    font-size: 13px;
  }

  .Looking_form-div input:focus{
   box-shadow: none;
  }


  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  .Looking_form-div textarea:focus{
    box-shadow: none;
  }
  .Looking_form-div textarea{
   font-size: 13px;
  }
  
  .Looking_form-div label{
    margin-top: 5px;
  }
  .Looking_form-div button{
    background-color: #4CAF50;
    font-size: 13px;
    color: white;
    margin-top: 15px;
  }
  .Looking_form-div button:focus{
    box-shadow: none;
  }
  .Looking_form-div button:hover{
    background-color: #2d722f;
    color: white;
  }

  .youtube_video{
    width: 100%;
    height: auto;
    /* background-color: #4CAF50; */

    cursor: pointer;
  }
  


@media (max-width: 768px) {
    .carousel-item img{
        width: 100%;
        height: 33vh;
        object-fit: cover;
      }
    .slider_image-div{
        width: 100%;
        height: auto;
        /* background-color: #833838; */
        /* overflow: hidden; */
      }
      .card-container{
        width: 100%;
        height: auto;
      }
      .card_image-div{
        margin-top: 30px;
      }
 

    .slider_cardimg-div img{
      width: 70%;
      
    }
    .slider-container {
      width: 100%;
      overflow: hidden;
    }
    
    .slider_cardimg-div {
      text-align: center;
      position: relative;
    }
    
    .slider_cardimg-div img {
      width: 90%;
      height: auto;
    }
    
    .slider_cardimg-div div {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
    
    
    .slick-prev::before,
    .slick-next::before {
      font-size: 33px;
      color: black;
      opacity: 1;
    }
    
    .slick-prev {
      z-index: 1;
    }
    
    .slick-next {
      z-index: 1;
    }
    
    .slick-prev:before {
      font-size: 33px;
      position: relative;
      left: 30px;
     
      }
      
      .slick-next::before{ 
        font-size: 33px;
        position: relative;
        left: -50px;
     
       
    }
    
.Testimonial_container{
  width: 100%;
  height: auto;
  /* background-color: yellowgreen; */
  display: inline;

}
    
    .Business-Manufacturer{
      margin-top: 20px;
    }

 
}

